In [18]:
#Dependencies and Setup

import pandas as pd
from pathlib import Path

In [21]:
#File to Load
school_data_to_load = Path("../Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path ("../Starter_Code/PyCitySchools/Resources/students_complete.csv")

In [22]:
#Read School and Students Data File and store into Pandas DataFrame
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [23]:
#Combine the data into a single dataset
school_data_complete = pd.merge (student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
#To have a better sense of the data set, I'm exploring the columns
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

In [28]:
#Calculate the total number of unique schools
school_count = len(school_data_complete["School ID"].unique())
school_count

15

In [29]:
#Calculate the total number of students
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [31]:
#Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [32]:
#Calculate the average (mean) math score
avg_math_score = school_data_complete ["math_score"].mean()
avg_math_score

78.98537145774827

In [33]:
#Calculate the average (mean) reading score
avg_reading_score = school_data_complete ["reading_score"].mean()
avg_reading_score

81.87784018381414

In [34]:
#Use the following to calculate the percentage of students who passed math
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [36]:
#Calculate the percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [37]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [55]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame (
{"Total Schools":[school_count],
"Total Students":[student_count],
"Total Budget":[total_budget],
"Average Math Score":[avg_math_score],
"Average Reading Score":[avg_reading_score],
"% Passing Math": [passing_math_percentage],
"% Passing Reading":[passing_reading_percentage]
"% Overall Passing": [overall_passing_rate],}
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3592207587.py, line 9)

In [39]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame (
{"Total Schools":[school_count],
"Total Students":[student_count],
"Total Budget":[total_budget],
"Average Math Score":[avg_math_score],
"Average Reading Score":[avg_reading_score],
}
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784

## School Summary

In [49]:
#Use the code provided to select all of the school types
school_types = school_data_complete.set_index("type").groupby(["type"])
school_types

In [50]:
school_types

In [51]:
#Calculate the total student count per school
per_school_count= school_data_complete("school_name").value_counts()

TypeError: 'DataFrame' object is not callable

In [52]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130